<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="{% url 'projectapp:category_list'  %}">ホーム</a>
    <a class="navbar-brand" href="{% url 'projectapp:item_update' item.id %}">アイテム編集</a>
    <a class="navbar-brand" href="{% url 'projectapp:category_list' %}">検索</a>
    </nav>
    {% block content %}
      <h1>{{ item.item_name }}<br></h1>
      <img width="100px" height="100px" src="{{item.item_picture.url}}"><br>
      ブランド : {{ item.item_brand }}<br>
      価格 : {{ item.item_price }} 円 <br>
      色 : {{ item.item_color }}<br>
      サイズ : {{ item.item_size }}<br>
      季節 : {{ item.item_season }}<br>
      購入日 : {{ item.item_purchase_date }}<br>
      消費期限 : {{ item.item_expiration_date }}<br>
      メモ : {{ item.memo }}
    {% endblock %} 
  </body>
</html>     