<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="{% url 'projectapp:category_list' %}">ホーム</a>
    <a class="navbar-brand" href="{% url 'projectapp:item_regist' category_id=category_id %}">アイテム新規登録</a>
    </nav>
    {% block content %}
      <table>
        <tbody>
        {% for item in item_get_list %}
        <tr>
          <td>アイテム名 : <a href="{% url 'projectapp:item_detail' item.id %}">{{ item.item_name }} </a></td>
          <td><a href="{% url 'projectapp:item_update' item.id %}">編集</td>
          <td><a href="{% url 'projectapp:item_delete' item.id %}">削除</td> 
        {% endfor %}
        </tbody>
      </table>
    {% endblock %} 
  </body>
</html>
